@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  background-color: #fffbf5;
  color: #1c1917;
}
